.container{
    display: grid;
    margin: 0 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
    padding: 10px;
    /* border: 1px solid black; */
}

.col-materialid, .col-size, .col-width, .col-height{
    padding: 0 0 10px 0;
    color: grey;
}

.custom-select {
    font-size: 1.5em;
    width: 100%;
}
.size_input{
    font-size: 1.5em;
    width: 100%;
}

.item-5{
    align-self: flex-end;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 15px;
}

@media (max-width: 600px) {
    .container{
        display: grid;
        margin: 0 5px;
        grid-template-columns: 1fr;
    }
    .custom-select {
        font-size: 4vw;
        font-weight: bolder;
    }
    .size_input{
        font-size: 4vw;
        font-weight: bolder;
    }
}