.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
    margin: 0 20px;
}

.item{
    padding: 10px;
    border: 1px solid black;
}

.item-1{
    background: green;
    grid-column: 1/3;
}

.item-4{
    grid-column: 1/3;
    background: orange;
}

.item-2 {
    background: yellow;
    grid-column: 1/3;
}

.item-7{
    background: red;
    grid-column: 1/3;
}